@use '../global/_theme';
h1{
    font-family: 'Sansita', sans-serif;
    color: #e0218a;
    text-align: center;
    font-size: 5em;
    position: relative;
    // &::after{
    //     content: "Style Stage";
    //     position: absolute;
    //     transform: translateX(-10px);
    //     color: #fff6f6;
    // }
    &::before{
        content: "Style Stage";
        position: absolute;
        transform: translateX(7px);
        color: #f7b9d7;
    }
    
} 