@use '../global/_theme' as t;
@use '../global/_typography' as font;
@use '../utility/_display' as d;

header > .container {
    h2, p, a {
        display: block;
        font-size: font.$s1;
        margin: 0;
        padding: 0;
        padding: 0 1em;
        text-align: center;
    }
    a {
        color: t.$primary-main;
    }
    a > span > svg {
        height: font.$s0;
    }
    > :not(h1) {
        background-color: white;
        margin-left: clamp(250px, 12em, 500px);
    }
}


header::before {
    // content: '';
    // background: url('./block/items/plane100px.svg') no-repeat center center/cover;
    content: url('/images/items/plane100px.svg');
    display: block;
    width: clamp(200px, 12em, 500px);
    height: clamp(200px, 12em, 300px);
    position:absolute;
    top: clamp(12em, 30vw, 15em);
}

