@use '../global/_theme';

// stylelint-disable no-descending-specificity
body {
  background-color: var(--color-background);
  color: var(--color-text);
  font-family: var(--font-family);
}

article {
  section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 5vh;
    padding-bottom: 5vh;
  }
}

article,
#styles {
  padding: 1rem;
}

.page-footer ul,
.features {
  display: grid;
  margin: 0 0 2rem;
  padding: 0;
  grid-gap: 1em;
  list-style: none;
}
