@use '../global/_theme';
@use '../utility/display' as d;

nav ul {
  @include d.flex(row, nowrap, space-between, flex-end);
  > li {
    @include d.listReset;
  }
  height: clamp(10em, 30vw, 25em);
  background-image: url('/images/backgrounds/attic_background.svg');
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: bottom 0px center;
  margin-bottom: 0;
}

nav{
  width: 90vw;
  margin: 0 auto;
}

nav ul li a{
  color: white;
}

// a[href*="about"]{
//   @include d.navTrunks;
//   background-image: url('/images/items/attictrunk1.svg');
// }

a[href*="resources"]{
  margin-right: 5.5vw;
}