@use '../global/_theme';

nav {
  ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0;
    padding: 0;
    list-style: none;

    a {
      display: inline-grid;
      padding: 0.5rem;
      color: var(--color-secondary);
      font-size: 1.25rem;
      text-decoration: none;
    }

    li {
      margin: 0.25rem;
    }
  }
}
