@use '../global/_theme' as t;
@use '../utility/_display' as d;

.profile{
    background-color: #4AD555;
    margin-bottom: -10px;
}
.profile .container{
    background-color: t.$driveway-main;
    width: 70vw;
    margin: auto;
    padding: 20px;
    border-bottom: solid 5px t.$driveway-dark;
    ul {
        @include d.listReset;
    }
    a {
        color: t.$primary-main;
    }
}