@use '../global/_theme'as t;

#styles{
    background-color: #4AD555;
}
#styles .container{
    background-color: t.$driveway-main;
    width: 70vw;
    margin: auto;
    padding: 20px;
    border-top: solid 4px t.$driveway-dark;
    margin-bottom: 20px;
    // border-bottom: 20vw solid #d1d1d1;
	// border-left: 25px solid transparent;
	// border-right: 25px solid transparent;
	// height: 0;
	// width: 74vw;
    // margin: auto;
    // padding-left: 50px;
}