@use '../global/_theme';

.features {
  position: relative;
  width: 100%;
  grid-template-columns: repeat(auto-fit, minmax(25ch, 1fr));

  /*! 
    * SVGs from Hero Patterns
    * @link http://www.heropatterns.com/
    */
  li {
    display: grid;
    position: relative;
    place-content: center;
    min-height: 12rem;
    padding: 1rem;
    color: var(--color-light);
    text-align: center;

    > span {
      a {
        color: inherit;
        font-size: 1.3rem;
        font-weight: var(--font-weight-strong);
        text-decoration: none;
      }
    }
  }
}

#styles {
  text-align: center;
}

#styles .features,
.features.patterned {
  li {
    background-color: var(--color-secondary);
  }
}
