$primary-light: #FACDE5;
$primary-medium-light: #F7B9D7;
$primary-medium: #F18DBC;
$primary-main: #ED5C9B;
$primary-dark: #E0218A;

$secondary-light:#C4FFF9;
$secondary-medium-light:#7DDEDC;
$secondary-medium:#3DCCC7;
$secondary-main:#069D98;
$secondary-dark:#069D98;

$driveway-main: #d1d1d1;
$driveway-dark:#6E6E6E;
$road-dark: #3D3D3D;

$flooring: #F9F7F3;